---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import ArrowCard from "@components/ArrowCard"
import { SITE, SOCIALS } from "@consts"
import RotatingHero from "@components/RotatingHero.astro"
import Container from '../components/Container.astro';

const posts = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const images = [
  "https://i.ibb.co/yPs8Zmc/PXL-20240911-132139678-MP.jpg",
  "https://i.ibb.co/1s2QVQS/PXL-20240911-124154695.jpg",
  "https://i.ibb.co/C5QXvRXL/Whats-App-Image-2025-02-15-at-21-02-011.jpg",
  "https://i.ibb.co/NYFyGhX/PXL-20240911-130401591.jpg",
  "https://i.ibb.co/zT26rd20/Whats-App-Image-2025-02-15-at-21-01-54.jpg",
  "https://i.ibb.co/HQN8Xvf/Whats-App-Image-2025-02-15-at-21-02-00.jpg",
  "https://i.ibb.co/BGQq2f9/Untitled.jpg",
  "https://i.ibb.co/s5BhXqB/20240904-065354882-i-OS.jpg",
  "https://i.ibb.co/2W5Yvts/PXL-20240925-071906926.jpg",
  "https://i.ibb.co/8XWbkQH/PXL-20240911-124034451.jpg",
  "https://i.ibb.co/0qc0k8Z/PXL-20241009-070250733.jpg",
  "https://i.ibb.co/gzBkW7d/PXL-20241009-092318106.jpg"
]
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <div class="relative h-screen w-full">
    <div id="backgroundImage" class="absolute inset-0 z-0 bg-cover bg-center" style="background-image: url('/banner/backdrop.png');"></div>
    <div class="absolute inset-0 flex items-center justify-center z-10">
      <RotatingHero />
    </div>
  </div>

  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-lg p-5 space-y-24 pb-16">

      <section class="py-5 overflow-hidden ">
        <Container size="2xl">
          <div class="relative h-full w-full flex justify-center items-center">
            <p class="scrolling-text text-2xl">CYBERHAX | UTP Technology And Hacking Club</p>
          </div>
        </Container>
      </section>

      <!-- Image Slideshow Section -->
      <section class="animate">
        <div class="slideshow-container aspect-w-16 aspect-h-9 rounded-lg overflow-hidden">
          {images.map((image, _) => (
            <div class="mySlides fade" style="display: {index === 0 ? 'block' : 'none'};">
              <img src={image} class="w-full h-full rounded-lg object-cover" />
            </div>
          ))}
        </div>
      </section>

      <!-- Events Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Events
            </p>
          </div>
          <div class="flex justify-center">
            <iframe
              src="https://lu.ma/embed/calendar/cal-3BUuj9gCFwvUGyH/events"
              width="1000"
              height="450"
              frameborder="0"
              style="border: 1px solid #bfcbda88; border-radius: 4px;"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
        </div>
      </section>

      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent posts
            </p>
            <a href="/blog" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All posts
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {posts.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent projects
            </p>
            <a href="/projects" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All projects
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <section class="animate">
        <div>
          <p class="font-semibold text-black dark:text-white">
            Let's Connect
          </p>
          <p>
            Reach out to us via email or on social media.
          </p>
          <div class="grid grid-cols-4 gap-y-2 mt-4 auto-cols-min">
            {SOCIALS.map(social => (
              <>
                <div class="col-span-1 flex items-center gap-1">
                  <span class="whitespace-nowrap truncate">
                    {social.NAME}
                  </span>
                </div>
                <div class="col-span-3 truncate">
                  <a href={social.HREF} target="_blank" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
                    <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                      {social.TEXT}
                    </span>
                  </a>
                </div>
              </>
            ))}
          </div>
        </div>
      </section>
    </div>
  </div>
</PageLayout>

<style>
  .slideshow-container {
    max-width: 100%;
    position: relative;
    height: 0;
    padding-top: 68.75%; /* 16:11 Aspect Ratio */
  }

  .mySlides {
    display: none;
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .mySlides.fade {
    opacity: 1;
  }

  .mySlides img {
    width: 100%;
    display: block;
  }
</style>

<script>
  let slideIndex = 0;
  showSlides();

  function showSlides() {
    let i;
    const slides = document.getElementsByClassName("mySlides") as HTMLCollectionOf<HTMLElement>;
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) { slideIndex = 1 }
    slides[slideIndex-1].style.display = "block";
    setTimeout(showSlides, 5000); // Change image every 5 seconds
  }
</script>

