---
import { SITE } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import PersonCard from "@components/PersonCard.astro"

const person = [
  {
    name: "Nadzifah Alwee",
    username: "",
    role: "President",
    bio: "I'm a software engineer with a passion for building and breaking things.",
    avatarUrl: "https://i.ibb.co/W4byCVP0/Nurul-Nadzifah-binti-Muhammed-Alwee.jpg",
    socials: {
      email: "mailto: president@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: "https://www.linkedin.com/in/nurul-nadzifah-binti-muhammed-alwee/"
    }
  },
  {
    name: "Amiruddin Hakim",
    username: "",
    role: "Treasurer",
    bio: "I'm a software engineer with a passion for building and breaking things.",
    avatarUrl: "https://i.ibb.co/RT1mLfvC/Muhammad-Amiruddin-Hakim.jpg",
    socials: {
      email: "mailto: treasurer@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: "https://linkedin.com/in/muhammadamiruddin"
    }
  },
  {
    name: "Akram Faisal",
    username: "",
    role: "Director of Infrastructure",
    bio: "I'm a cybersecurity analyst with a passion for securing digital assets.",
    avatarUrl: "https://i.ibb.co/vxhNhHn4/akram-faisal.png",
    socials: {
      email: "mailto: director.infra@cyberhax.club",
      github: "https://github.com/kreee00",
      linkedin: "https://linkedin.com/in/akram-mohdfaisal",
    }
  },
  {
    name: "Khairrunnas Azman",
    username: "",
    role: "Director of Talent & Development",
    bio: "I'm a cybersecurity analyst with a passion for securing digital assets.",
    avatarUrl: "https://i.ibb.co/3yqp9L4x/Muhammad-Khairrunnas-Bin-Mohamad-Azman.jpg",
    socials: {
      email: "mailto: director.talent@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: ""
    }
  },
  {
    name: "Hafeez Azam",
    username: "",
    role: "Co-Director of Talent & Development",
    bio: "I'm a data scientist with a passion for uncovering hidden insights.",
    avatarUrl: "https://i.ibb.co/fzS9fm10/Hafeez-Fitri-Bin-Shahrul-Azam.png",
    socials: {
      email: "mailto: co.director.talent@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: "https://www.linkedin.com/in/hafeez-fitri-bin-shahrul-azam-7484442b3/"
    }
  },
]

---

<PageLayout title="About Us" description={SITE.DESCRIPTION}>
  <TopLayout>
    <!-- Introduction Section -->
    <section class="intro py-8">
      <div class="container mx-auto px-4">
        <h1 class="text-3xl font-bold mb-4">About Us</h1>
        <p class="text-lg"><b>BACKGROUND:</b> CYBERHAX was founded in 2014 but was inactive from 2017 to 2023. Efforts to revive the club began in 2023.</p>
        <p class="text-lg mt-4"><b>MISSION & VISION:</b> To empower UTP students with essential computer skills, coding proficiency, and cybersecurity knowledge, fostering a collaborative learning environment and providing early industry exposure to prepare them for the challenges of the digital age.</p>
      </div>
    </section>

    <!-- Constitution Button -->
    <section class="constitution py-8">
      <div class="container mx-auto px-4">
        
          <a href="[link to constitution]" class="inline-block bg-black dark:bg-white text-white dark:text-black px-6 py-3 rounded-lg hover:opacity-90 transition-opacity"
          >Read Our Constitution</a>
        
      </div>
    </section>
  </TopLayout>

  <BottomLayout>
    <!-- Team Section -->
    <section class="animate py-8">
      <div class="container mx-auto px-4">
        <div class="space-y-4">
          <p class="font-semibold text-black dark:text-white text-2xl mb-4">
            Our Team
          </p>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-5">
            {person.map(member => (
              <PersonCard
                name={member.name}
                role={member.role}
                avatarUrl={member.avatarUrl}
                socials={member.socials}
              />
            ))}
          </div>
        </div>
      </div>
    </section>
  </BottomLayout>
</PageLayout>