---
import { SITE } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import PersonCard from "@components/PersonCard.astro"
import { ActionsReturnedInvalidDataError } from "node_modules/astro/dist/core/errors/errors-data";

const person = [
  {
    name: "Nadzifah Alwee",
    username: "",
    role: "President",
    avatarUrl: "https://i.ibb.co/zWfdV3NF/nadz.jpg",
    socials: {
      email: "mailto: president@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: "https://www.linkedin.com/in/nurul-nadzifah-binti-muhammed-alwee/"
    }
  },
  {
    name: "Nadiah Lotfi",
    username: "",
    role: "Vice President I",
    avatarUrl: "https://i.ibb.co/gLcb2pqx/default-avatar.jpg",
    socials: {
      email: "mailto: vicepresident1@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: ""
  }
  },
  {
    name: "Lee Pei Lin",
    username: "",
    role: "Vice President II",
    avatarUrl: "https://i.ibb.co/rfqTYXfk/pei-lin.png",
    socials: {
      email: "mailto: vicepresident2@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: ""
  }
  },
  {
    name: "Yuvaneswari",
    username: "",
    role: "Secretary",
    avatarUrl: "https://i.ibb.co/gLcb2pqx/default-avatar.jpg",
    socials: {
      email: "mailto: secretary@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: ""
    }
  },
  {
    name: "Amiruddin Hakim",
    username: "",
    role: "Treasurer",
    avatarUrl: "https://i.ibb.co/WpNBCyZH/amiruddin.jpg",
    socials: {
      email: "mailto: treasurer@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: "https://linkedin.com/in/muhammadamiruddin"
    }
  },
  {
    name: "Akram Faisal",
    username: "",
    role: "Director of Infrastructure",
    avatarUrl: "https://i.ibb.co/b5vYTg9s/keluang-man.png",
    socials: {
      email: "mailto: director.infra@cyberhax.club",
      github: "https://github.com/kreee00",
      linkedin: "https://linkedin.com/in/akram-mohdfaisal",
    }
  },
  {
    name: "Syarafuddin",
    username: "",
    role: "Co-Director of Infrastructure",
    avatarUrl: "https://i.ibb.co/gLcb2pqx/default-avatar.jpg",
    socials: {
      email: "mailto: co.director.infra@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: ""
    }
  },
  {
    name: "Khairrunnas Azman",
    username: "",
    role: "Director of Talent & Development",
    avatarUrl: "https://i.ibb.co/2193qHhB/khair.jpg",
    socials: {
      email: "mailto: director.talent@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: ""
    }
  },
  {
    name: "Hafeez Fitri",
    username: "",
    role: "Co-Director of Talent & Development",
    avatarUrl: "https://i.ibb.co/ycghR3V2/hafeez-fitri.png",
    socials: {
      email: "mailto: co.director.talent@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: "https://www.linkedin.com/in/hafeez-fitri-bin-shahrul-azam-7484442b3/"
    }
  },
  {
    name: "Yassin Ibrahim",
    username: "",
    role: "Director of Communication",
    avatarUrl: "https://i.ibb.co/gLcb2pqx/default-avatar.jpg",
    socials: {
      email: "mailto: director.comm@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: ""
    }
  },
  {
    name: "Aina Nabila",
    username: "",
    role: "Co-Director of Communication",
    avatarUrl: "https://i.ibb.co/gLcb2pqx/default-avatar.jpg",
    socials: {
      email: "mailto: co.director.comm@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: ""
    }
  },
  {
    name: "Charumathi",
    username: "",
    role: "Director of Events",
    avatarUrl: "https://i.ibb.co/B2wf3k49/charu.png",
    socials: {
      email: "mailto: director.event@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: ""
    }
  },
  {
    name: "Firdaus Zahin",
    username: "",
    role: "Co-Director of Events",
    avatarUrl: "https://i.ibb.co/gLcb2pqx/default-avatar.jpg",
    socials: {
      email: "mailto: co.director.event@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: ""
    }
  },
  {
    name: "Ahmad Zafri",
    username: "",
    role: "Director of Multimedia",
    avatarUrl: "https://i.ibb.co/gLcb2pqx/default-avatar.jpg",
    socials: {
      email: "mailto: director.multimedia@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: ""
    }
  },
  {
    name: "Yusuf Wafiy",
    username: "",
    role: "Co-Director of Multimedia",
    avatarUrl: "https://i.ibb.co/gLcb2pqx/default-avatar.jpg",
    socials: {
      email: "mailto: co.director.multimedia@cyberhax.club",
      github: "",
      twitter: "",
      linkedin: ""
    }
  },
]

---

<PageLayout title="About Us" description={SITE.DESCRIPTION}>
  <TopLayout>
    <!-- Introduction Section -->
    <section class="intro py-6">
      <div class="container mx-auto px-4">
        <h1 class="text-3xl font-bold mb-4">About Us</h1>
        <section class="animate">
          <article>
            <p>We are a <b><i>cybersecurity club</i></b>, a <b><i>technology enthusiast group</i></b>, a <b><i>community of learners</i></b>, a <b><i>team of innovators</i></b>, and a <b><i>passionate collective</i></b> dedicated to <b><i>unlocking digital potential</i></b>.</p>
            <p>At CYBERHAX, we thrive on both building and breaking things. Our motivation stems from tackling complex challenges through hands-on problem solving and collaborative learning. Our true passion lies in organizing engaging Capture The Flag (CTF) competitions and fostering a vibrant, knowledge-sharing community.</p>
            <p>Throughout our journey</p>
            <p>We have hosted a range of events from local CTF challenges to collaborative workshops, focusing on delivering impactful experiences and nurturing a deep understanding of cybersecurity and technology.</p>
            <p>Currently</p>
            <p>We continue to grow as a pivotal hub for cybersecurity enthusiasts at UTP, dedicated to fostering skills, encouraging innovation, and creating opportunities for our members to excel in the digital realm.</p>
          </article>
        </section>
        
      </div>
    </section>

    <!-- Constitution Button -->
    <section class="constitution py-2">
      <div class="container mx-auto px-4">
        
          <a href="/legal/constitution" class="inline-block bg-black dark:bg-white text-white dark:text-black px-6 py-3 rounded-md hover:opacity-90 transition-opacity"
          >Read Our Constitution</a>
        
      </div>
    </section>
  </TopLayout>

  <BottomLayout>
    <!-- Team Section -->
    <section class="animate py-8">
      <div class="container mx-auto px-4">
        <div class="space-y-4">
          <p class="font-semibold text-black dark:text-white text-2xl mb-4">
            Our Team
          </p>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-5">
            {person.map(member => (
              <PersonCard
                name={member.name}
                role={member.role}
                avatarUrl={member.avatarUrl}
                socials={member.socials}
              />
            ))}
          </div>
        </div>
      </div>
    </section>
  </BottomLayout>
</PageLayout>