---
type Props = {
  name: string
  username: string
  role: string
  bio: string
  avatarUrl: string
}

type SocialIconProps = {
  icon: string; // Name of the icon in the social.svg file
  href: string;  // URL of the linked social media platform
}

const { name, username, role, bio, avatarUrl } = Astro.props

const socialIcons: SocialIconProps[] = [
  { icon: 'email', href: '#' },
  { icon: 'globe', href: '#' },
  { icon: 'github', href: '#' },
  { icon: 'twitter', href: '#' },
  { icon: 'linkedin', href: '#' },
  { icon: 'discord', href: '#' },
]
---

<div class="w-full max-w-sm px-4 py-3 rounded border border-neutral-200 dark:border-neutral-700 hover:bg-neutral-100 hover:dark:bg-neutral-800 blend">
    <div class="flex items-start gap-4 mb-3">
      <img src={avatarUrl} alt={name} class="w-20 h-20 rounded-full flex-shrink-0">
      <div class="flex-grow">
        <h2 class="text-red-600 font-bold text-sm">{role}</h2>
        <h3 class="text-lg font-bold">{name}</h3>
        <p class="text-neutral-400 text-sm">{username}</p>
      </div>
    </div>
    
    <p class="mb-3 text-sm">{bio}</p>

    <!-- SocMeds Icons KIV 
    <div class="flex gap-2">
      {socialIcons.map(({ icon, href }) => (
        <a href={href} target="_blank" class="text-neutral-400 hover:text-neutral-600 dark:hover:text-neutral-200">
          <svg height={20} width={20}>
            <use href={`/social.svg#${icon}`}></use>
          </svg>
        </a>
      ))}
    </div>
    -->
  </div>