---
type Props = {
  name: string
  role: string
  avatarUrl: string
  socials: {
    github?: string
    twitter?: string
    linkedin?: string
    globe?: string
    email?: string
    instagram?: string
    [key: string]: string | undefined
  }
}

const { name, role, avatarUrl, socials } = Astro.props
---

<div class="w-full max-w-sm p-4 rounded border border-neutral-200 dark:border-neutral-700 hover:bg-neutral-100 hover:dark:bg-neutral-800 blend">
  <div class="flex flex-col items-center">
    <img src={avatarUrl} alt={name} class="w-40 h-40 rounded-full object-cover object-center mb-3">
    <h2 class="text-center text-red-600 text-sm">{role}</h2>
    <h3 class="text-lg font-bold text-white text-center">{name}</h3>
    <div class="flex items-center gap-3 mt-2 text-white">
      {socials && Object.entries(socials).map(([platform, url]) => (
        url && (
          <a href={url} target="_blank" class="text-white">
            <svg class="size-4 fill-current group-hover:fill-black group-hover:dark:fill-white blend">
              <use href={`/social.svg#${platform}`} />
            </svg>
          </a>
        )
      ))}
    </div>
  </div>
</div>

